.client {
    padding: 0.3rem 3rem;
    width: fit-content;
    text-align: justify;
    font-style: italic;
  }
  
  .review-slide {
    padding: 20px;
  }
  
  .review-content {
    display: flex;
    justify-content: start; 
    gap: 20px; 
  }
  
  .review-item {
    flex: 0 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .comment {
    font-size:15px;
    color: #555;
    margin-bottom: 10px;
    text-align: left; 
  }
  
  .review-image {
    width: 80px;
    height: 70px;
    border-radius: 10%;
    object-fit: cover;
  }
  
  .review-text {
    text-align: center;
    margin-top: 10px;
  }
  
  .name {
    font-weight: bold;
    color: #333;
  }
  
  .customer {
    font-size: 0.9rem;
    color: #888;
    text-align: center;
    margin-top:-10px;
    margin-left:0px;
  }
  
  .slick-prev, .slick-next {
    z-index: 2;
    color: #000 !important;
  }
  