.experience {
    padding: 0.3rem 3rem;
        width: fit-content;
        text-Align: justify;
        font-Style: italic;
}
.fontSize{
    font-size: 15px;
}
.square-block {
    width: 60px; 
    height: 60px;
    font-size: 1.2rem; 
    border-radius: 5px; 
   
  }
