.custom-navbar {
    margin-right: 80px;
}

.custom-brand {
    margin-left: 130px;
}

.logo-img {
    width: 180px;
}

.custom-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.active-link {
    color: #ffc107;
}

.register-btn {
    color: white;
    border-radius: 20px;
    min-width: 120px;
}
