.knowbefore-container {
    margin-top: 80px;
}

.know-before {
    padding: 0.3rem 3rem;
        width: fit-content;
        text-Align: justify;
        font-Style: italic;
}

.world-icon {
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.knowbefore-title {
    font-size: 3.1rem;
    margin-bottom: 10px;
}

.highlight {
    color: #ffc107;
}

.knowbefore-description {
    color: rgba(158, 157, 154, 1);
    font-size: 18px;
    line-height: 1.8em;
}

.knowbefore-card {
    height: 350px;
    border-radius: 15px;
    border: 2px solid #ffc107;
    overflow: hidden;
}

.card-img-top {
    height: 100%;
    object-fit: cover;
}
.card1{
    margin-top: 30px;
}
.card2{
    margin-top: 50px;

}
.card3{
    margin-top: 70px;
}